<div class="header">
    Quick View Environments
    <a href="javascript:" class="close" data-ng-click="EnvironmentPopover.close()"></a>
</div>
<!--End popup-header-->

<div class="popup-content">
    <div class="content-top">
        <div class="cat pull-left">2 <span class="up">Up</span> </div>
        <div class="cat pull-left">1 <span class="partial">Partial</span> </div>
        <div class="cat pull-left">1 <span class="down">Down</span> </div>
    </div>
    <!-- End content-top-->

    <div class="details">
        <div class="type">
            <span class="count">1. </span>
            <span class="name">Development</span>
            <span class="status up pull-right">Up</span>
        </div>
        <div class="type alt">
            <span class="count">2. </span>
            <span class="name">Production</span>
            <span class="status partial pull-right">Partial</span>
        </div>
        <div class="type">
            <span class="count">3. </span>
            <span class="name">QA</span>
            <span class="status up pull-right">Up</span>
        </div>
        <div class="type alt">
            <span class="count">4. </span>
            <span class="name">Stage</span>
            <span class="status down pull-right">Down</span>
        </div>
    </div>
    <!-- End details-->
</div>
<!--End popup-content-->