<div class="header">
    Quick View Schedule
    <a href="javascript:" class="close" data-ng-click="ActivityPopover.close()"></a>
</div>
<!--End popup-header-->

<div class="popup-content">
    <div class="holder">
        <div class="time-hold">
            <div class="date today">02/12/16</div>
        </div>
        <!-- End time-hold-->
        <div class="time-hold clearfix">
            <div class="time pull-left before">07:30 AM</div>
            <div class="info ng-binding"><a href="javascript:">Server Name</a> <span>Stop</span></div>
        </div>
        <div class="time-hold clearfix">
            <div class="time pull-left after">10:30 AM</div>
            <div class="info ng-binding"><a href="javascript:">DB Server</a> <span>Stop</span></div>
        </div>
        <div class="time-hold clearfix">
            <div class="time pull-left after">14:00 PM</div>
            <div class="info ng-binding"><span>Environment Restart</span></div>
        </div>

        <div class="time-hold clearfix">
            <div class="time pull-left after">10:30 AM</div>
            <div class="info ng-binding"><a href="javascript:">DB Server</a> <span>Start</span></div>
        </div>
        <div class="time-hold clearfix">
            <div class="time pull-left after">10:30 AM</div>
            <div class="info ng-binding"><a href="javascript:">DB Server</a> <span>End</span></div>
        </div>
        <!-- End time-hold-->
    </div>
</div>
<!--End popup-content-->